* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  #circulo {
	width: 200px;
	height: 200px;
	background-color: red;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s, width 0.3s, height 0.3s;
  }
