* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
}

section h1 {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.5rem;
  border-radius: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.parallax:first-child {
  background-image: url(https://wallpapercave.com/wp/wp4397412.jpg);
}
.parallax:last-child {
  background-image: url(https://3.bp.blogspot.com/-qTxxbduYR_A/WOOT9NJIFPI/AAAAAAAABhk/r22ny6b0y48dE-MHaZFwWUk4BTwXJ3tjgCLcB/s1600/amazing-sunset-with-zebras.jpg);
}

.parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /*esto es el parallax*/
}
